---
---

@import"bootstrap";






/* ==========================================================================
   External links icon
   ========================================================================== */
.externalLink{
    background: url(../img/external_link_icon_black.gif) no-repeat top right;
    padding-right: 13px;
}

.externalLink.btn-sm, .noIcon .externalLink.btn-sm{
  padding: 5px 10px;
}

.noIcon a.externalLink{
    background-image: none;
    padding: 0;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Content styling
   ========================================================================== */

.page-header {
    padding: 0;
    margin: 20px 0px 0px;
    border: none;
}

.home h1 {
    margin: 5px 0;
}
